
.vs/CG_InvWeb/v16/.suo
.vs/CG_InvWeb/v16/Server/sqlite3/storage.ide
.vs/CG_InvWeb/v16/Server/sqlite3/storage.ide-shm
.vs/CG_InvWeb/v16/Server/sqlite3/storage.ide-wal
CG_InvWeb/obj/Debug/CG_InvWeb.csprojAssemblyReference.cache
